@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-VariableFont_wght.woff2") format("woff2"),
       url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype"),
       url("../fonts/Comfortaa-VariableFont_wght.woff") format("woff"),
       url("../fonts/Comfortaa-VariableFont_wght.otf") format("opentype");
       font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Comfortaa, cursive;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #353745;
  background-color: #353745;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  background-color:#bfd9d7;
  background-image: linear-gradient(90deg, #bfd9d7 50%, #353745 50%);
  padding-top: 85px;
  padding-bottom: 120px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-burger {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  position: relative;
  padding: 2px 10px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li:last-child {
  margin-right: 0px;
}

nav li a:before, nav li:before, nav li:after {
  content: '';
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: #ddbb4d;
  transition: .4s ease;
}
nav a {
  color: #353745;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 5px;
  transition: 0.4 ease;
  z-index: 1;
}
nav a:before {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  left: 0;
  bottom: 66.66%;
}
nav li:before {
  right: 0;
  top: 33.33%;
}
nav li:after {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  left: 0;
  bottom: 0;
}
nav li:hover a:before {
  width: 100%;
}
nav li:hover:before, nav li:hover:after {
  width: 100%;
}
nav a:hover {
  color: #e6ecf3;
}
nav a:active {
  text-decoration: none;
}

/*-------- social-btn ---START------*/

.social {
  display: inline-flex;
  align-items: center;
}

.social a:first-child{
  color: #ddbb4d;
  font-size: 25px;
  line-height: 30px;
  margin-right: 20px;
  text-decoration: none;
}

.social a:first-child:hover {
  text-decoration-color: #ddbb4d;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

.social-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #bfd9d7; 
  width: 50px;
  height: 50px;
  border-radius: 30%;
  box-shadow: -5px 5px 20px -5px #010101;
  position: relative;
  overflow: hidden;
}

.social-btn:last-child {
  margin-right: 0px;
}

.social-btn::before {
  position: absolute;
  content: '';
  width: 120%;
  height: 120%;
  background-color: #ddbb4d;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}

.social-btn:hover:before {
  animation-name: hover;
  animation-duration: 0.6s;
  top: -10%;
  left: -10%;
}

@keyframes hover {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.social-btn svg {
  width: 25px;
  height: 25px;
  fill: #353745;
  transition: 0.3s ease;
}

.social-btn:hover svg{
  transform: scale(1.3);
}

/*-------- social-btn ----END-----*/

.header-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo {
  display: flex;
  flex-direction: column;
}

.promo-title {
  font-size: 40px;
  line-height: 55px;
  font-weight: bold;
  letter-spacing: 0.3px;
  margin: 150px 0 25px 0;
}

.promo p {
  margin: 0;
  flex: 1 1 auto;
}

.annimatedbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: relative;
  background: #e6ecf3;
  font-family: Comfortaa;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #353745;
  box-sizing: border-box;
  border-radius: 1em;
  padding: 20px 50px;
  transition: all 0.5s ease 0s;
  z-index: 0;
  cursor: pointer;
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  background: linear-gradient(45deg, #ffd1dc, #00BFFF, #00ff00, #ffff00, #FA8072,  #ffd1dc, #00BFFF, #00ff00, #ffff00, #FA8072);
  background-size: 500%;
  z-index: -1;
  animation: amimate 30s ease infinite;
  border-radius: 1em;
  box-shadow: 0 0 100px -20px #e6ecf3;
}

.btn::after {
  filter: blur(25px);
  z-index: -1;
}

@keyframes amimate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.header-body .image img{
  padding-top: 70px;
  max-width: 100%;
  height: auto;
}

@media (max-width:1080px) {
  header {
    background-image: none;
    background-color: #353745;
  }
  header .social {
    display: none;
  }
  .header-top{
    justify-content: center;
  }
  nav ul a {
    color: #e6ecf3;
  }
  .menu-article a {
    color: #353745;
  }
  .header-body {
    flex-direction: column;
    align-items: center;
  }
  .header-body .image {
    max-width: 350px;
    order: 1;
  }
  .header-body img {
    max-width: 100%;
    display: block;
    padding-bottom: 70px;
  }
  .promo {
    order: 2;
    color: #e6ecf3;
    align-items: center;
  }
  .promo-title, .promo p {
    text-align: center;
  }
  .promo-title {
    margin: 0px;
    margin-bottom: 20px;
    color: #ddbb4d;
  }
  .animatedbtn {
    padding-top: 50px;
  }
  .btn {
    padding: 20px 40px;
  }
}
@media (max-width: 500px){
  body.lock {
    overflow: hidden;
  }
  header {
    position: relative; 
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px #010101;    
  }
  .header-article {
    background-color: whitesmoke;
    border-radius: 0px;
  }
  .header-top {
    justify-content: space-between;
  }
 .header-burger {
    display: block;
    position: relative;
    width: 50px;
    height: 40px;
    z-index: 3;
 }
 .header-burger::before,
 .header-burger::after {
    content: "";
    background-color: #e6ecf3;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    transition: all 0.3s ease 0s;
  }
   .header-burger-article::before,
  .header-burger-article::after {
    background-color: #353745;
  }
 .header-burger span {
    position: absolute;
    background-color: #e6ecf3;
    left: 0px;
    top: 19px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header-burger-article span {
    background-color: #353745;
  }
 .header-burger::before{
    top: 0px;
  }
 .header-burger::after {
    bottom: 0px;
  }
 .header-burger.active::before {
    transform: rotate(45deg);
    top: 19px;
    background-color: #e6ecf3;
  }
 .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 19px;
    background-color: #e6ecf3;
  }
 .header-burger.active span {
    transform: scale(0);
    background-color: #e6ecf3;
  }
  nav {
    position: fixed;
    top: -150%;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #353745;
    padding: 70px 0px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu.active {
    top: 0px;
    z-index: 2;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav li {
    margin: 8px 8px 40px 0px;
    padding: 10px 10px;
  }
  nav a {
    color: #e6ecf3;
    text-transform: uppercase;
    font-size: 25px;
  }
  .menu-article a {
     color: #e6ecf3;
  }
  .header-body {
    align-items: flex-start;
  }
  .promo {
    align-items: unset;
  }
  .promo-title, .promo p {
    text-align: left;
  }
  .promo-title {
    margin: 0px 0px 20px 0px;
    color: #ddbb4d;
    font-weight: 600;
    font-size: 9vw;
    line-height: 12vw;
  }
  .promo p {
    font-size: 4.5vw;
    line-height: 7vw;
  }
  .header-body .image img{
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
@media (max-width:350px){
  .btn {
    font-size: 5vw;
  }
}

/* ---------- ABOUT US ---------- */

.aboutus {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #e6ecf3;
}

.aboutus-intro {
  column-count: 3;
  column-gap: 100px;
  column-rule: solid thin #353745;
}

.aboutus-intro h2 {
  font-size: 35px;
  line-height: 40px;
}

.aboutus-intro p:first-of-type {
  margin: 0;
  margin-bottom: 25px;
  color: #ae9152;
}

.aboutus-intro p{
  text-align: justify;
}

@media (max-width:800px) {
  .aboutus {
    padding: 85px 0px;
  }
  .aboutus-intro {
    column-count: auto;
  }
}
@media (max-width:500px){
  .aboutus {
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px #010101;   
  }
  .aboutus h2 {
    font-size: 7vw;
    line-height: 10vw;
  }
  .aboutus-intro p:first-of-type {
    display: none;
  }
}
@media (max-width:320px){
  .aboutus h3 {
    font-size: 18px;
  }
}

/* ----------  CALL US ---------- */

.callus {
  color: #e6ecf3;
  background: #bfd9d7;
  padding: 60px 0;
}

.callus-intro {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #e6ecf3;
  border-radius: 25px;
  box-shadow: -5px 5px 20px -5px #010101;
}

.callus-intro h2 {
  margin-bottom: 30px;
  color: #353745;
  font-weight: 600;
  letter-spacing: 0.1px;
}

.callus-intro form {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.callus-intro input[type="tel"] {
  background: #e6ecf3;
  color: #353745;
  font-family: Comfortaa;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  border: 1px solid #bfd9d7;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 15px 20px;
  outline: none;
}

.callus-intro input[type="tel"]:invalid {
  color: #353745;
  box-shadow: 0 0 15px #bfd9d7;
}

.callus-intro input[type="submit"] {
  background: #ddbb4d;
  border: none;
  border-radius: 15px;
  color: #e6ecf3;
  font-family: Comfortaa;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding: 18px 20px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: all 2s ease;
}

.callus-intro input[type="submit"]:disabled,
.callus-intro input[type="submit"]:disabled:hover,
.callus-intro input[type="submit"]:disabled:active {
  color: #e6ecf3;
  background: #bfd9d7;
  cursor: auto;
}

@media (max-width:600px) {
  .callus-intro {
    margin: 0px -25px;
  }
}

@media (max-width:500px) {
  .callus {
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px #010101;
  }
}
@media (max-width:350px) {
  .callus-intro {
    padding: 20px;
  }
  .callus-intro h2 {
    line-height: 35px;
    margin-bottom: 20px;
  }
  .callus .checkbox {
    font-size: 15px;
  }
  .callus-intro input[type="tel"], .callus-intro input[type="submit"] {
    padding: 15px 10px;
  }
}

/* ---------- SERVICES ----------  */

.services {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: whitesmoke;
}

.services .container {
  padding: 0px 0px;
}

.slider {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.service-body {
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease 0s;
}

.column {
  display: flex;
}

.service-item {
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  text-align: left;
  border: 2px solid #e6ecf3;
  background-color: whitesmoke;
}

.column:first-child .service-item {
  flex: 1 1 auto;
  background-color: #e6ecf3;
  background-image: url("../img/LogoAqua.png") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px;
  transition: all 0.5s ease 0s;
  overflow: hidden;
}

.service-title {
  font-size: 22px;
  line-height: 30px;
  flex: 1 1 auto;
}

.column:first-child .service-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #353745;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
}

.service-item p {
  color: #ae9152;
  flex: 1 1 auto;
}

.slider-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 45%;
  z-index: 2;
}

.services button {
  border: 1px solid #e6ecf3;
  border-radius: 30%;
  padding: 25px;
  cursor: pointer;
}

.services .button-prev {
  background: url("../img/leftfill.png") no-repeat center center;
  background-size: 25px;
  background-color: #e6ecf3;
}

.services .button-next {
  background: url("../img/rightfill.png") no-repeat center center;
  background-size: 25px;
  background-color: #e6ecf3;
}

.services .button-prev:active,
.services .button-next:active{
  background-color: #ddbb4d;
}

.services .button-next:disabled {
  background: url("../img/right.png") no-repeat center center;
  background-size: 25px;
}

@media (max-width:1100px){
  .services {
    padding: 5px 0px;
  }
}
@media (max-width:500px){
  .services {
    background-color: transparent;
  }
 .service-item {
    border-radius: 50px;
  }
}

/* ----------  CONTACTS ---------- */

.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
  color: #e6ecf3;
  background-color: #353745;
}

.contacts-body {
  display: flex;
  justify-content: space-between;
}

.contacts-intro {
  display: flex;
  flex-direction: column;
  max-width: 510px;
}

.contacts-instruction {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  margin-right: 50px;
}

.contacts-intro h2,
.contacts-instruction h2 {
  font-size: 35px;
  line-height: 40px;
}

.contacts-intro p {
  margin: 0;
  margin-bottom: 25px;
  color: #bfd9d7;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contacts-form input,
.contacts-form textarea{
  color: #bfd9d7;
  background-color: #353745;
  font-family:  'Comfortaa', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 23px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ae9152;
  box-sizing: border-box;
  caret-color: #bfd9d7;
}

input[type="email"]:not(:focus) + .callout, 
input[type="tel"]:not(:focus) + .callout2,
input[type="email"]:valid + .callout,
input[type="tel"]:valid + .callout2{
	transform: scale(0);
	transition: .25s transform;
}
.callout, .callout2, .chat-callout{		
    position: absolute;
    top: 120px;
    left: 0;
    max-width: 300px;
    font-size: 75%;
    color: #353745;
    background: #fed;
    padding: .6em .8em;
    border-radius: 5px;
    transition: .5s cubic-bezier(.25,.1,.3,1.5) transform;
    transform-origin: 1.4em -.4em;
}
.callout2 {	
    top: 185px;
}
.chat-callout{
  width: 260px;
  top: -93px;
  transform: scale(0);
  transition: .25s transform;
  transform-origin:  20px 83px;
}
.chat-callout.invalid{
  transform: scale(1);
  transition: .5s cubic-bezier(.25,.1,.3,1.5) transform;
}
.callout:before, .callout2:before, .chat-callout:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 20px;
    padding: 5px;
    background: #fed;
    transform: rotate(45deg);
}
.chat-callout:before{
	top: 83px;
	left: 20px;
}
.callout-img, .callout-img2{
    position: absolute;
    right: 23px;
    top: 76px;
    width: 25px;
    height: 25px;
    transform: scale(0);
    transition: .25s transform;
}
.callout-img{
  display: none;
}
.callout-img2{
    top: 141px;
}
input[type="email"]:valid ~ .callout-img,
input[type="tel"]:valid ~ .callout-img2{
  transform: scale(1);
  transition: .5s cubic-bezier(.25,.1,.3,1.5) transform;
}
.contacts-form textarea {
    min-height: 120px;
    resize: none;
}

.checkbox {
  position: relative;
  display: block;
  font-size: 16px;
  color: #bfd9d7;
  padding-left: 40px;
  margin-bottom: 15px;
  cursor: pointer;
}

.callus .checkbox {
  color: #353745;
  margin-top: 15px;
}


.checkbox a {
  color: #ae9152;
}

.checkbox input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 8px;
  background-color: #e6ecf3;
  cursor: pointer;
}

.callus .checkmark {
  top: 15px;
  border: 1px solid #bfd9d7;
}

.checkbox input:invalid + .checkmark {
  box-shadow: 0 0 15px #ddbb4d;
}

.callus input:invalid + .checkmark {
  box-shadow: 0 0 15px #bfd9d7;
}

.checkbox input:checked + .checkmark {
  background-color: #bfd9d7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked + .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #353745;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="submit"]:disabled, 
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled:active  {
  color: #474a5c;
  background: #3c3f4e;
  cursor: auto;
}
.contacts-form .btn {
  background-color: #ae9152;
  color: #e6ecf3;
  border: none;
  padding: 20px 50px;
  box-shadow: -5px 5px 20px -5px #010101;
  -webkit-appearance: none;
  appearance: none;
  transition: all 2s ease;
}

.contacts-form .btn:hover {
  background-color: #bfd9d7;
  color: #353745;
}

.contacts-form .btn:active {
  background: #ddbb4d;
  color: #e6ecf3;
}

.contacts-instruction h2 {
  margin-bottom: 10px;
}

.contacts-instruction p, 
.contacts-instruction a {
  color: #bfd9d7;
  margin-bottom: 20px;
  text-decoration: none;
}

.contacts-instruction .contacts-instruction-1 {
  color: #ae9152;
}

.contacts-instruction strong {
  color: #ddbb4d;
  font-size: 25px;
  line-height: 30px;
}

.contacts-instruction .social-btn:not(:last-child) {
  margin-right: 10px;
}

@media (max-width:1000px){
  .contacts-body {
    flex-direction: column;
  }
  .contacts-intro h2,
  .contacts-intro p {
    align-self: center;
    text-align: center;
  }
  .contacts-intro {
    max-width: none;
  }
  .contacts-instruction {
    margin-right: 0;
    margin-top: 40px;
    align-self: center;
    align-items: center;
  }
  .contacts-instruction p {
    text-align: center;
  }
}
@media (max-width:800px){
  .contacts {
    padding: 85px 0px;
  }
}
@media (max-width:500px){
  .contacts {
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px #010101;   
  }
  .contacts-instruction {
    align-self: flex-start;
    align-items: flex-start;
  }
  .contacts-instruction p {
    text-align: left;
  }
  .contacts-intro h2,
  .contacts-instruction h2 {
    font-size: 7vw;
  }
}

/* ---------- ADVANTAGES ---------- */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #e6ecf3;
  background-image: url("../img/LogoAqua.png") ;
  background-position: -150px 80px;
  background-size: 300px;
}

.advantages .container {
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  margin-bottom: 80px;
}

.advantage {
  flex: 1 1 290px;
  padding: 20px;
  margin: 15px;
  border-radius: 15px;
  background-color: #e6ecf3;
  box-shadow: -3px -3px 7px #f7fbfd, 3px 3px 5px #ceced1;
}

.advantage img{
  height: 35px;
}

.advantage p {
  text-align: justify;
}

@media (max-width:800px){
  .advantages {
    padding: 85px 0px;
  }
  .advantages-title {
    margin-bottom: 40px;
  }
}
@media (max-width:700px) {
  .advantage {
    margin: 0;
    margin-bottom: 15px;
  }
}
@media (max-width:500px){
  .advantages {
    padding: 85px 0px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px #010101;   
    background-image: none;
  }
  .advantages-title {
    font-size: 7vw;
    line-height: 10vw;
  }
}
@media (max-width:420px){
  .advantage h2 {
    font-size: 20px;
  }
}

/* ----------- CHAT ------------ */

.popup-link {
  position: fixed;
  bottom: 50px;
  right: 45px;
  z-index: 3;
}

.popup-link-mobile {
  display: none;
}

.popup {
  position: fixed;
  z-index: 3;
  bottom: 160px;
  right: 50px;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
} 

.popup-content {
  max-width: 400px;
  background: #bfd9d7;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100px) rotateX(45deg);
  transition: all 0.8s ease 0s;
  position: relative;
}

.popup:target .popup-content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
} 

.popup-close {
  position: absolute;
  right: 18px;
  top: 18px;
}

.popup-close img{
  width: 18px;
  padding: 10px;
}

/* Chat Area CSS Start */

.chat-area {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6ecf3;
}

.chat-area .header{
  display: flex;
  align-items: center;
  padding: 18px;
}

.chat-area .header img{
  width: 45px;
  height: 45px;
  background: #e6ecf3;
  padding: 5px;
  object-fit: contain;
  vertical-align: top;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-area .header .details span{
  display: block;
  font-weight: bold;
}

.chat-area .header .details p{
  margin: 0;
  font-size: 15px;
}

.chat-box{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 250px;
  max-height: 250px;
  background: #e6ecf3;
  padding: 10px 18px;
  position: relative;
}
.chat-box .text{
  /*position: absolute;*/
  /*top: 45%;*/
  /*left: 50%;*/
  /*width: calc(100% - 50px);*/
  /*text-align: center;*/
  /*transform: translate(-50%, -50%);*/
  display: none;
}

.chat-box::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background: #353745;
}

.chat-box::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #bfd9d7;
}

.chat-box .chat p{
  font-size: 15px;
  word-wrap: break-word;
  padding: 8px 16px;
  margin: 1px 0;
}

.chat-box .outgoing{
  display: flex;
}
.chat-box .outgoing .details{
  margin-left: auto;
  max-width: 80%;
}

.outgoing .details img, 
.incoming .details img{
  width: 100%;
  border-radius: none;
  vertical-align: top;
}

.outgoing .details p,
.outgoing .doclink{
  color: #353745;
  background:  hsl(46, 68%, 58%, 0.3);
  border-radius: 18px 18px 0 18px;
}

.chat-box .incoming{
  display: flex;
  align-items: flex-end; 
}

.chat-box .incoming .details{
  margin-right: auto;
  max-width: 80%;
}

.incoming .details p,
.incoming .doclink{
  color: #353745;
  background: hsl(175, 25%, 80%, 0.4);
  border-radius: 18px 18px 18px 0;
}

.typing-area{
  display: flex;
  background: #e6ecf3;
  border: 1px solid #e6ecf3;
  border-radius: 15px;
  margin: 18px;
}

.typing-area label{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  background: #bfd9d7;
  border-radius: 15px;
  position: relative;
}

.typing-area label img{
  max-width: 25px;
  vertical-align: top;
  object-fit: contain;
}

.typing-area .file{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0; 
  cursor: pointer;
}

.typing-area .input-field{
  height: 45px;
  width: calc(100% - 90px);
  font-size: 15px;
  font-family: Comfortaa, cursive;
  background: #e6ecf3;
  padding: 0 13px;
  border: none;
  outline: none;
}

.typing-area .input-field::placeholder,
.typing-area .input-field::-ms-input-placeholder {
  color:#353745;
  opacity: 0.5;
}

.typing-area button{
  width: 45px;
   height: 45px;
  background:#353745;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer; 
  opacity: 0.5;
  pointer-events: none; 
  transition: all 0.5s ease;
}

.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 800px) {
  .popup-link {
    display: none;
  }
  .popup-link-mobile {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 3;
  }
  .popup {
    bottom: 110px;
    right: 25px;
  }
}
@media (max-width: 455px) {
  .popup {
    left: 25px;
  }
}
@media (max-height: 575px) {
  .popup {
    top: 25px;
  }
  .chat-box{
    min-height: calc(100vh - 335px);
    max-height: calc(100vh - 335px);
  }
}


/* ---------- FOOTER ---------- */

footer {
  position: relative;
  background-color: #353745;
  padding-top: 55px;
  padding-bottom: 55px;
}

footer .main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 0 0 220px;
}

.logo img {
  max-width: 100%;
  display: block;
}

.footer-contacts {
  text-align: center;
}

.footer-contacts a {
  color: #bfd9d7;
  text-decoration: none;
}

.footer-contacts strong {
  color: #ddbb4d;
}

@media (max-width:500px){
  footer {
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px #010101;   
  }
  footer .main-footer {
    flex-direction: column;
  }
  .footer-contacts {
    order: 1;
    margin-bottom: 20px;
  }
   .body-article .footer-contacts {
    margin-bottom: 30px;
  }
  .main-footer .logo {
    max-width: 250px;
    order: 2;
  }
}

/* ---------- BLOG----------  */

.blog {
  height: 100vh;
  background: linear-gradient(#bfd9d7 60%, whitesmoke 60%);
  box-sizing: border-box;
  border-radius: 0;
  overflow-y: auto;
}

.header-blog-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-promo {
  display: flex;
  justify-content: space-between;
}

.blog-title{
  padding-top: 13%;
  font-size: 100px;
}

.animation-container {
  flex: 0 1 50%;
  position: relative;
}

.animation-container span {
  position: absolute;
  color: #353745;
  display: block;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Comfortaa';
  text-shadow: 0 0 1px white;
  user-select: none;
  pointer-events: none;
  cursor: default;
  z-index: 1;
  opacity: 0;
  top: 0;
  will-change: transform, opacity;
  animation-timing-function: ease-out;
  animation-name: move;
}

@keyframes move {
  0% {
    opacity: 0;
    top: 100%;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}

.blog-content{
  display: flex;
  padding-top: 3%;
}

.blog-column{
  flex: 1 1 47%;
  background-color: #353745;
  padding: 50px;
  border-radius: 30px;
  box-shadow: -5px -5px 8px #fafbff, 5px 5px 10px rgb(143, 146, 146);
}

.blog-column:first-child{
  margin-right: 50px;
}

.blog-column h1{
  color: #ddbb4d;
  font-size: 50px;
  line-height: 50px;

}

.blog-column a{
  line-height: 40px;
  color: #e6ecf3;
  text-decoration: none;
}

.blog-column a:hover{
  text-decoration-color:  #ddbb4d;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

@media (max-width:800px){
  .blog-content{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .blog-column:first-child{
    margin: 0 0 50px 0;
  }
}
@media (max-width:600px){
  .animation-container {
    display: none;
  }
}
@media (max-width:400px){
  .blog-content{
    margin: 0 -25px;
  }
  .blog-column{
    padding: 25px;
  }
}
@media (max-width:320px){
  .blog-title{
    font-size: 90px;
  }
}

/* ---------- ARTICLE----------  */

.header-article.gradient, .likes.gradient::before {
  background:
  radial-gradient(circle, transparent 20%, #bfd9d7 20%, #bfd9d7 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, #bfd9d7 20%, #bfd9d7 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#cfdfdd 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #cfdfdd 8px, transparent 8px) -4px 0;
  background-color: #bfd9d7;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

.header-article {
  background: #bfd9d7;
  height: 250px;
}

article {
  background-color: whitesmoke;
  padding-bottom: 120px;
}

article .container {
  max-width: 800px;
  margin: 0px auto;
  position: relative;
  z-index: 1;
  margin-top: -230px;
}

article .title {
  background-color: #353745;
  padding: 50px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 30px;
}

.title-img {
  margin: 0 auto;
}

.title-img img{
  max-width: 100%;
  height: auto;
}

article h1 {
  font-size: 40px;
  line-height: 55px;
  color: #e6ecf3;
}

.author {
  color: #ddbb4d;
  text-align: center;
}

.article-intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text-indent {
  flex: 1 1 30%;
  box-sizing: border-box;
  background-color: #e6ecf3;
  background-image: url("../img/LogoAqua.png") ;
  background-position:  center center;
  background-size: 200px;
  border-radius: 30px;
  font-size: 100px;
  line-height: 200px;
  padding: 10px 30px 0px 30px;
  margin-right: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.article-intro p {
  margin: 0;
}

article p {
  line-height: 35px;
  text-align: justify;
}

article h2 {
  line-height: 40px;
}

.blockquote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockquote div{
  max-width: 20%;
  display: flex;
}

.blockquote svg {
  flex-shrink: 1;
}

article li {
  width: 100%;
  display: inline-flex;
  margin-top: 20px;
}

article li::before  {
  content: '';
  flex: 0 0 25px;
  height: 25px;
  align-self: center;
  border-radius: 50%;
  background-color: #ae9152;
  margin-right: 30px;
  margin-left: -20px;
}

.illustration img {
  max-width: 100%;
}

@media (max-width:600px){
  .article-intro {
    flex-wrap: wrap;
  }
  .text-indent {
    margin-right: 0px;
    margin-bottom: 35px;
  }
}
@media (max-width:500px){
  article  {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 20px 0px #010101;   
  }
  article .title {
    margin-bottom: 25px;
  }
  .article h1 {
    font-weight: 600;
    font-size: 7vw;
    line-height: 12vw;
  }
  .author {
    font-size: 4.5vw;
    line-height: 7vw;
  }
  article h2 {
    font-size: 6vw;
    line-height: 8vw;
  }
  article p {
    line-height: 30px;
  }
  .text-indent {
    margin-bottom: 25px;
  }
}
@media (max-width:400px){
  article .title {
    padding: 50px 30px;
  }
}
/* ----------  SUBSCRIBE ---------- */

.subscribe, .likes {
  margin: 60px 0;
  position: relative;
  padding-bottom: 20px;
}

.subscribe::before, .likes::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background: #bfd9d7;
  border-radius: 25px;
}

.subscribe-body, #likes-form {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 30px;
  padding: 10px 40px;
  background: #353745;
  border-radius: 25px;
}

.subscribe-body h3 {
  color: #e6ecf3;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  flex: 0 1 30%;
}

.subscribe-body form {
  flex: 0 1 50%;
  display: flex;
}

.subscribe-form input[type="email"] {
  width: 100%; /* !!!! */
  flex: 0 1 auto;
  background: #e6ecf3;
  color: #353745;
  font-family: Comfortaa;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  border: 1px solid #e6ecf3;
  box-sizing: border-box;
  border-radius: 15px 0px 0px 15px;
  padding: 15px 20px;
  outline: none;
}

.subscribe-form input[type="email"]:focus {
  color: #353745;
  box-shadow: 0 0 15px #ddbb4d;
}

.subscribe-form input[type="submit"] {
  background: #ddbb4d;
  border: 1px solid #e6ecf3;
  box-sizing: border-box;
  border-radius: 0px 15px 15px 0px;
  color: #e6ecf3;
  font-family:  Comfortaa;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  padding: 15px 22.5px;
  -webkit-appearance: none;
  appearance: none;
}

@media (max-width:910px){
  .subscribe-body h3,
  .subscribe-body form {
    flex: 1 1 100%;
  }
  .subscribe-body {
    padding-bottom: 40px;
  }
}
@media (max-width:600px){
  .subscribe-body {
    margin: 0px -25px;
  }
}
@media (max-width:400px){
  .subscribe-body form {
    flex: 0 1 100%;
    flex-direction: column;
  }
  .subscribe-form input[type="email"],
  .subscribe-form input[type="submit"] {
    border-radius: 15px;
  }
}

/* ------------ LIKES-------------*/

#likes-form {
  max-width: 170px;
  margin: 0px auto;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #353745;
  border-radius: 25px;
}

#likes-form {
  padding: 0px;
}

#likebtn {
  width:  80px;
  height: 80px;
  background: url('../img/like.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 2900%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  pointer-events: all;
  cursor: pointer;
  box-sizing:content-box;
}

#likebtn:hover {
  background-position: right center;
  animation: animate 0.8s steps(28) 1;
}

@keyframes animate {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}

#likebtn:disabled {
  background-position: right center;
}

#spanlike {
  padding: 5px 30px 0px 0px;
  color: #bfd9d7; 
  font-size: 28px;
  font-weight: bold;
}

/* ---------- ARTICLE - END ---------  */
/* ---------- SVGS ---------- */

.svgs {
  display: none;
}

/* (=^_^=) */